.where {
  padding-top: 155px;
  padding-bottom: 133px;
  background-color: #001f1f;
  color: #fff;
  @include small-tablet{
   padding: 60px 0;
  }
  &__content {
    grid-column: 4 span;
    @include small-tablet{
      margin-bottom: 25px;
    }
  }
  &__btn {
    color: var(--light-color);
  }
  &__map {
    grid-column: 7 / 5 span;
    @include small-tablet{
      grid-column:4 span;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 43px;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 1.2px;
  }
  &__descr {
    margin: 0;
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 28px;
  }
}
