<header class="header header--position">
  <div class="container flex header__container">
    <a class="logo" target="_blank"><h2>Balhsn</h2></a>
    <nav class="nav flex" title="nav Main">
      <ul class="nav__list list-reset flex">
        <li class="nav__item"><a href="#" class="nav__link">Худи</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Футболки</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Костюмы</a></li>
      </ul>
    </nav>
  </div>
</header>
