<section class="hero">
  <div class="container grid">
    <div class="hero__content">
      <h1 class="hero__title">
        наша одежда дарит каждому человеку счастье и радость
      </h1>
      <p class="hero__descr">
        Даже лидеры уголовного правосудия покупают одежду в магазине Balhsn
      </p>
      <a class="btn hero__btn" href="">К покупкам</a>
    </div>
  </div>
  <div class="container hero__bottom-container">
    <div class="hero__bottom">
      <h2 class="hero__subtitle">У нас есть</h2>
      <ul class="list-reset hero__list grid">
        <li class="hero__item">
          <a class="hero__link" href="">футболки</a>
        </li>
        <li class="hero__item">
          <a class="hero__link" href="">футболки</a>
        </li>
        <li class="hero__item">
          <a class="hero__link" href="">Штаны</a>
        </li>
        <li class="hero__item">
          <a class="hero__link" href="">Костюмы</a>
        </li>
        <li class="hero__item">
          <a class="hero__link" href="">Худи</a>
        </li>
        <li class="hero__item">
          <a class="hero__link" href="">Кроссовки</a>
        </li>
      </ul>
    </div>
  </div>
</section>
