<section class="steps">
  <div class="container">
    <h2 class="steps__title">
      Мы являемся магазинами одежды в стиле урбан. У нас вы можете заказать
      одежду или придти в наш магазин
    </h2>
    <ul class="list-reset steps__list flex">
      <li class="steps__item">
        <p class="steps__descr">прием вашего заказа</p>
      </li>
      <li class="steps__item steps__item--line" aria-hidden="true">
      <li class="steps__item">
        <p class="steps__descr">доставка вашего заказа</p>
      </li>
      <li class="steps__item steps__item--line" aria-hidden="true">
      <li class="steps__item">
        <p class="steps__descr">получение закааза</p>
      </li>
    </ul>
  </div>
</section>
